
 body{
      background-color: black;
 }

 

 @media all and (max-width: 1024px){

        .img-box{
        column-count: 3;
        width: 90%;
      }

  }
  @media all and (max-width: 768px){
    .img-box{
      column-count: 2;
      width: 100%;
    }
}
     @media all and (max-width: 480px){
         .img-box{
      column-count: 1;
      }
    }
     @media all and (min-width: 1200px){
         .image:hover {
            opacity: 1;
            filter: hue-rotate(45deg);
    }
    .author:hover{
      border-color: #111;
      
    }
  } 